  .scroll-top {
    background: #2FA253;
  }
  #mega-menu-holder ul> li:hover> a {
    color: #2FA253;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    color: #2FA253;
  }
  .TopSec {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(182, 182, 182, 0.822);
  }
  .TopSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .TopSec p {
    font-size: 15px;
  }
  .TopSec a {
    /* float: right; */
    color: #2FA253;
    font-size: 15px;
  }
  .fa-arrow-right {
    padding-left: 10px;
  }
  .fa-check-circle {
    /* height: 10px; */
    /* width: 10px; */
    color: #000;
    font-size: 10px;
  }
  .fa-check-circle {
    font-size: 18px;
    color: #2FA253;
    padding-right: 10px;
  }
  .theme-main-menu .right-widget .login-button .login-button a {
    /* line-height: 38px; */
    border: 1px solid #ebebeb;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 15px;
    margin-left: 10px;
    background: #2FA253;
  }
  .theme-main-menu .right-widget .login-button a:hover {
    background: #196b33;
  }
  .slider-content h4 {
    font-size: 23px;
    font-weight: 500;
    color: #07a254;
    margin-bottom: 10px;
  }
  .banner-right-img {
    margin-top: 13rem;
  }
  .banner-text h1 {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .testimonial-section {
    margin-top: 3rem;
  }
  .testimonial-section .single-block .text p {
    font-size: 17px;
    font-weight: 400;
    color: rgb(75, 74, 74);
    /* margin-bottom: 10px; */
  }
  .tags ul li {
    display: inline-block;
  }
  .tags ul li a {
    background: #EDEDED;
    color: rgb(109, 107, 107);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #bbb9b9;
    margin: 5px;
  }
  .slider-Btn .Help-btn-transparent {
    background: transparent;
    color: #2FA253;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #2FA253;
    margin: 40px 5px 0 0;
  }
  .slider-Btn .Help-btn-bg i{
    font-size: 10px;
  }
  .slider-Btn .Help-btn-bg {
    background: #2FA253;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #2FA253;
    /* margin: 40px 5px 0 0; */
  }
  .fa-phone-volume {
    padding-right: 10px;
  }
  .fa-chevron-right {
    padding-left: 5px;
  }
  .theme-main-menu .right-widget .login-button a i {
    color: #fff;
    font-size: 15px;
  }
  #Mobile-Web-Application {
    /* padding-bottom: 100px; */
    background: #F7F7F7;
    height: 320px;
    padding: 50px;
  }
  .Mobile-Web ul {
    display: flex;
    justify-content: center;
  }
  .Mobile-Web-Content img{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #2FA253;
    background-color: #D5FDE9;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid #2FA253;
    padding: 10px 20px;
  }
  .nav-pills .nav-link {
    color: #909090;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    border: 2px solid #909090;
  }
  .nav-pills .nav-item {
    margin-right: 1rem;
  }
  .Mobile-Web-Content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #262c2d;
    text-align: center;
    margin-top: 2rem;
  }
  .Mobile-Web-Content p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    color: rgb(54, 54, 54);
    margin: 1rem 0;
  }
  .owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid rgb(151, 150, 150);
  }
  .owl-theme .owl-dots .owl-dot.active span{
    background: #2FA253;
    border: 1px solid #2FA253;
  }
  .owl-theme .owl-dots .owl-dot.hover span {
    background: #2FA253;
    border: 1px solid #2FA253;
  }
  .Backbone-of-fleetware {
    /* margin-top: 24rem; */
    background: #DBF2FC;
    padding: 5rem 2rem;
  }
  .Backbone-Inner-left img{
    padding-bottom: 1rem;
  }
  .Backbone-of-fleetware .Backbone-content .Backbone-Inner-right h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #262c2d;
  }
  .Backbone-of-fleetware .Backbone-content .Backbone-Inner-right p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(54, 54, 54);
    line-height: 24px;
    margin: 1.25rem 0;
  }
  .Backbone-of-fleetware .Backbone-content .Backbone-Inner-right a {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 15px;
    /* margin-top: 20px; */
    background: #2FA253;
  }
  .Vehicles-Content {
    margin-top: 2rem;
  }
  .Vehicles-Content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #262c2d;
  }
  .Vehicles-Content p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(54, 54, 54);
    line-height: 24px;
    padding: 10px 0;
  }
  #Vehicles-Management {
    margin: 4rem 0;
  }
  .VehiclesManagement {
    margin: 3rem 0;
  }
  .VehiclesManagement {
    background: #fff;
    border: 2px solid rgb(194, 193, 193);
    border-radius: 10px;
    padding: 20px 15px;
    box-shadow: 1px 1px 10px #e0dede;
  }
  .VehiclesManagement img {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 1rem 0;
  }
  .VehiclesManagement h4 {
    font-size: 25px;
    font-weight: 500;
    color: rgb(109, 109, 109);
    /* line-height: 24px; */
  }
  .VehiclesManagement p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(109, 109, 109);
    line-height: 24px;
  }
  #Vehicles-Management .vehicles-slider .owl-theme .owl-dots .owl-dot span {
    width: 2rem;
    height: 9px;
    border: 1px solid #2FA253;
    background: #2FA253;
    margin: 0 3px;
  }
  .CustomerSayAboutContent {
    margin: 2rem 0;
  }
  #CustomerSayAbout {
    background: #F8F8F8;
    padding: 2.50rem 0;
  }
  .CustomerSayAboutContent .card-body ul li {
    display: inline-block;
  }
  .CustomerSayAboutContent .card-body li {
    margin: 10px 15px 0 0;
  }
  .CustomerSayAboutContent .card-body li a {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(109, 109, 109);
    line-height: 24px; 
  }
  .CustomerSayAboutContent .card-body li a span {
    font-size: 18px;
    font-weight: 600;
    color: rgb(59, 59, 59);
    line-height: 24px; 
  }
  .CustomerSayAboutContent .card {
    border: none;
    box-shadow: 1px 1px 10px #e0dede;
  }
  .Case-Study-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Case-Study-btn a{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 25px;
    /* margin-top: 20px; */
    background: #2FA253;
  }
  #Case-Study {
    margin: 2rem 0;
  }
  .Case-Study-Content {
    padding: 3rem 0;
  }
  .Case-Study-Content .card .card-body h5 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(109, 109, 109);
    margin-top: 1rem;
  }
  .Case-Study-Content .card .card-body p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(54, 54, 54);
    line-height: 24px;
    margin: 1rem 0;
  }
  .Case-Study-Content .card .card-body a {
    font-size: 1rem;
    font-weight: 600;
    color: #2FA253;
  }
  .GetAClear-Content {
    background: #fff;
    border-radius: 10px;
    padding: 3rem;
    margin-bottom: 3rem;
    box-shadow: 1px 1px 10px rgb(235, 235, 235);
  }
  .GetAClear-Content h5 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(82, 82, 82);
    margin-top: 1rem;
  }
  .GetAClear-Content p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(54, 54, 54);
    line-height: 24px;
    margin-top: 1rem;
  }
  .GetAClear-Content a {
    background: #3a4245;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 1.5rem;
  }
  /* .get-started-content {
    max-width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  } */
  .get-started-content h5 {
    font-size: 28px;
    color: #07a254;
    margin-bottom: 8px;
  }
  .get-started-content h1 {
    font-size: 45px;
    color: #283249;
    /* margin-bottom: 8px; */
  }
  .get-started-content h6 {
    font-size: 20px;
    color: #383838;
    margin: 2rem 0;
  }
  .get-started-content a {
    font-size: 18px;
    color: #fff;
    margin-bottom: 2rem;
    background: #07a254;
    border-radius: 5px;
    padding: 10px 15px;
  }
  .get-started-content h6 span {
    color: #07a254;
    cursor: pointer;
  }
  .footer {
    margin-top: 3rem;
  }
  .footer .footer-logo ul li a img {
    width: 80px;
    margin-bottom: 2rem;
  }
  .footer .products h3{
    margin-bottom: 2rem;
    font-size: 1.50rem;
    font-weight: 500;
  }
  .footer .products ul li a {
    font-size: 1rem;
    color: #636f73;
    margin-bottom: 1.50rem;
  }
  .footer-bottom .form-control {
    width: 15rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    transition: none,box-shadow none;
}
.form-control:focus {
    border-color: none;
    box-shadow: none;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-right ul  {
  display: flex;
}
.footer-bottom-right ul li img{
  width: 100px;
  height: 34px;
  margin-left: 1rem;
  cursor: pointer;
}
.footer-bottom  {
  margin: 1rem 0;
}
.footer-bottom input {
  display: inline;
}
.footer-bottom a {
    color: #fff;
    background-color: #07a254;
    border-radius: 5px;
    padding: 5px 15px;
}
.copyright-sec p {
  font-size: 13px;
}
.copyright-sec {
  background: #ecfbf3;
  padding: 1rem 0;
}
.copyright-sec .footer-icon ul {
  display: flex;
}
.copyright-sec .footer-icon ul li a i{
  margin-left: 1rem;
  color: rgb(63, 62, 62);
}
.contact-sale-btn {
    font-size: 18px;
    color: #fff;
    /* margin-bottom: 2rem; */
    background: #07a254;
    border-radius: 5px;
    padding: 10px 15px;
    /* position: fixed;
    right: 5.8rem;
    bottom: 1.60rem; */

}
.fa-comment-alt {
  margin: 0 5px 0;
}
.copyright-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.theme-banner-one .main-text-wrapper .button-group>li:last-child .dropdown-toggle, #mega-menu-holder .navbar-toggler {
    background: #2fa253 !important;
}
.Mobile-Web-Application-tabs {
      background: #F7F7F7;
      height: 20rem;
      margin-bottom: 20rem;
      padding-top: 2rem;
}
.Mobile-Web-Application-tabs-content {
   text-align: center;
}
.Mobile-Web-Application-tabs-content ul {
      display: flex;
      justify-content: center;
  }
  .Mobile-Web-Application-tabs-content ul li a {
    background: transparent;
    border: 2px solid #5e5f5e;
    color: #5e5f5e;
    padding: 15px 20px;
    /* border-radius: 10px; */
    margin-right: 10px;
  }
  .Mobile-Web-Application-tabs-content ul li a:active,
  .Mobile-Web-Application-tabs-content ul li a:focus,
  .Mobile-Web-Application-tabs-content ul li a:hover {
    background: #D5FDE9;
    border: 2px solid #2FA253;
    color: #2FA253;
    padding: 15px 20px;
    /* border-radius: 10px; */
  }
.nav-tabs {
    border-bottom: none;
    margin-bottom: 1rem;
}
.box {
  opacity: 0;
  position: absolute ;
}
.b1 {
  animation: Naaz1 15s infinite;
}
.b2 {
  animation: Naaz2 15s infinite;
}
.b3 {
  animation: Naaz3 15s infinite;
}
.b4 {
  animation: Naaz4 15s infinite;
}
.b5 {
  animation: Naaz5 15s infinite;
}
.b6 {
  animation: Naaz6 15s infinite;
}

@keyframes Naaz1{
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
}

@keyframes Naaz2{
    20% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
}

@keyframes Naaz3{
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@keyframes Naaz4{
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
@keyframes Naaz5{
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  

  /* --------------Media Query Start---------------- */
  @media screen and (max-width: 240px) {
    /* .tags ul li a {
        margin-bottom: 1rem;
      } */
      .TopSec {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
      }
      .login-button-bg {
        display: none;
      }
      .TopSec p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .theme-main-menu .logo {
        float: none;
        position: absolute;
        top: 5px;
        left: 90%;
      }
      .theme-main-menu.fixed {
        height: 180px;
      }
      .tags ul li a {
        margin-bottom: 10px;
      }
      .Help-btn-bg {
        margin-top: 10px;
      }
      .Mobile-Web-Application-tabs-content ul li {
        margin-bottom: 10px;
      }
      .Backbone-of-fleetware {
        margin-top: 37rem;
        text-align: center;
      }
      .Case-Study-title {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
      }
      .GetAClear-Content {
        text-align: center;
      }
  }

  @media screen and (min-width: 241px) and (max-width: 320px) {
    .tags ul li a {
        margin-bottom: 1rem;
      }
      .banner-right-img {
        margin: 1rem 0 2rem;
      }
      .menu-wrapper {
        /* position: relative; */
        margin-top: 15px;
    }
    .theme-main-menu .logo {
      top: 6px;
  }
    .slider-Btn .Help-btn-bg {
        margin-top: 1rem;
      }  
      .Backbone-of-fleetware {
        margin-top: 34rem;
      }
    .nav-pills .nav-link {
        margin-top: 5px;
        font-size: 14px;
        margin-right: 5px;
      }
      .TopSec {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
      }
      .TopSec p {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 10px;
      }
      .login-button-bg {
        display: none;
      }
      .login-button {
        display: none;
      }
      .theme-main-menu.fixed {
        height: 170px;
      }
      .theme-main-menu .logo {
        float: none;
        position: absolute;
        top: 12px;
        left: 90%;
      }
      .Mobile-Web-Application {
        margin-bottom: 30rem;
      }
      .Mobile-Web-Application-tabs-content ul li {
        margin-bottom: 10px;
      }
      .Backbone-of-fleetware {
        /* margin-top: 23rem; */
        text-align: center;
      }
      .Case-Study-title {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
      }
      .GetAClear-Content {
        text-align: center;
      }
      .TopSec p {
        text-align: center;
      }
      .main-text-wrapper {
        margin-top: 3rem;
    }
    .theme-banner-one .main-text-wrapper p {
      font-size: 18px;
      /* line-height: 32px; */
      padding: 9rem 0 40px;
    }
    .footer-logo {
      text-align: center;
    }
    .products {
      text-align: center;
    }
    .footer-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .footer-bottom-right ul {
      margin-top: 1.5rem;
    }
    .copyright-sec {
      display: flex;
      justify-content: center;
      /* align-items: center; */
      flex-wrap: wrap;
    }
    .copyright-sec .footer-icon ul {
      margin: 1.5rem 0;
    }
    .copyright-sec p {
      text-align: center;
    }
    .footer-bottom a {
     margin-top: .50rem;
    }
    .get-started-content h6 {
      font-size: 17px;
      color: #383838;
      margin: 2rem 0;
    }
    .theme-banner-one .main-text-wrapper p {
      font-size: 16px;
      /* line-height: 32px; */
      padding: 5rem 0 40px;
  }
  }

  @media screen and (min-width: 321px) and (max-width: 480px) {
    
    .theme-main-menu.fixed {
      height: 150px;
    }
    .banner-right-img {
      margin: 1rem 0 2rem;
    }
    .theme-main-menu .logo {
      float: none;
      position: absolute;
      top: 0;
      left: 83%;
      transform: translateX(-50%);
      z-index: 5;
    }
    .testimonial-section {
      margin-top: 1rem;
  }
    .GetAClear-Content {
      text-align: center;
    }
    .tags ul li a {
      margin-bottom: 20px;
    }
    .Help-btn-bg {
      margin-top: 1rem;
    }
    .Mobile-Web-Application-tabs-content ul li {
      margin-bottom: 10px;
    }
    .theme-main-menu .right-widget  {
      display: none;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        font-size: 14px;
      }
      .nav-pills .nav-item {
        margin-right: 0;
      }
      .nav-pills .nav-link {
        margin-left: 5px;
        font-size: 14px;
      }
      .Mobile-Web-Content h2 {
        font-size: 27px;
      }
      .Mobile-Web-Content p {
        font-size: 14px;
        margin: 15px 0;
      }
      .Backbone-of-fleetware {
        margin-top: 23rem;
        text-align: center;
      }
      .Backbone-of-fleetware .Backbone-content .Backbone-Inner-right h2 {
        font-size: 27px;
      }
      .Backbone-of-fleetware .Backbone-content .Backbone-Inner-right p {
        font-size: 14px;
      }
      .Vehicles-Content h2 {
        font-size: 27px;
      }
      .Vehicles-Content p {
        font-size: 14px;
      }
      .Case-Study-title {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
      }
      .GetAClear-Content {
        text-align: center;
      }
      .theme-banner-one .main-text-wrapper p {
        font-size: 18px;
        line-height: 32px;
        padding: 6rem 0 2rem;
    }
    .footer-logo {
      text-align: center;
    }
    .products {
      text-align: center;
    }
    .footer-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .footer-bottom-right ul {
      margin-top: 1.5rem;
    }
    .copyright-sec {
      display: flex;
      justify-content: center;
      /* align-items: center; */
      flex-wrap: wrap;
    }
    .copyright-sec .footer-icon ul {
      margin-right: 3rem;
    }
    .copyright-sec p {
      text-align: center;
    }
    .slider-Btn .Help-btn-transparent {
      
      margin: 20px 5px 0 0;
  }

  }

  @media screen and (min-width: 481px) and (max-width: 576px) {
    .theme-main-menu .logo {
      top: -10px;
     }
     .banner-right-img {
      margin: 1rem 0 2rem;
    }
     .tags ul li a {
      margin-bottom: 20px;
    }
      .GetAClear-Content {
        text-align: center;
      }
      .Backbone-of-fleetware {
        margin-top: 25rem;
        text-align: center;
      }
      .Case-Study-Content {
        padding: 2rem 0;
      }
      .Case-Study-title {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
      }
      .Case-Study-btn a{
        font-size: 16px;
        padding: 10px 20px;
      }
      .testimonial-section .single-block .text {
        width: 100%;
        float: none;
        padding-left: 0;
        text-align: center;
      }
      .theme-banner-one .main-text-wrapper p {
        font-size: 18px;
        line-height: 32px;
        padding: 6rem 0 2rem;
    }
    .footer-logo.products {
      text-align: center;
    }
    .footer-bottom .form-control {
      margin-bottom: 1rem;
    }
    .copyright-sec {
      display: flex;
      justify-content: center;
      /* align-items: center; */
      flex-wrap: wrap;
    }
    .copyright-sec .footer-icon ul {
      margin-right: 3rem;
    }
    .footer-logo {
      text-align: center;
    }
    .products {
      text-align: center;
    }
    .copyright-sec p {
      text-align: center;
    }
  }

  @media screen and (min-width: 577px) and (max-width: 768px) {
    .GetAClear-Content {
        text-align: center;
      }
      .banner-right-img {
        margin: 1rem 0 2rem;
      }
      .theme-main-menu .logo {
       top: -13px;
      }
      .Case-Study-title {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
      }
      .theme-main-menu.fixed {
        height: 145px;
    }
    .Backbone-of-fleetware {
      margin-top: 24rem;
      text-align: center;
    }
    .Backbone-of-fleetware .Backbone-content .Backbone-Inner-left img {
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
    .tags ul li a {
      margin-bottom: 10px;
    }
    .testimonial-section .single-block .text {
      width: 100%;
      float: none;
      padding-left: 0;
      text-align: center;
    }
    .slider-content img {
      margin-bottom: 3rem;
    }
    .copyright-sec {
      display: flex;
      justify-content: center;
      /* align-items: center; */
      flex-wrap: wrap;
    }
    .copyright-sec .footer-icon ul {
      margin-right: 3rem;
    }
    .single-block img {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 991px) {
    .theme-main-menu .logo {
      left: 35%;
    }
    .banner-right-img {
      margin: 1rem 0 2rem;
    }
    /* .main-text-wrapper {
        text-align: center;
      } */
      .tags ul li a {
        margin-bottom: 1rem;
      }
      .slider-Btn .Help-btn-bg {
        margin-top: 1rem;
      }  
      .progress-slider-wrapper {
          margin-bottom: 2rem;
      }
      .menu-wrapper {
        position: relative;
        margin: 20px 0;
      }
      .Backbone-of-fleetware {
        margin-top: 24rem;
        text-align: center;
      }
      .Backbone-of-fleetware .Backbone-content .Backbone-Inner-left img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
      }
      .Case-Study-btn a{
        font-size: 14px;
        padding: 10px 15px;
      }
      .theme-main-menu .right-widget .login-button {
        display: block !important;
      }
      .Case-Study-Content {
        padding: 1rem 0;
      }
      .GetAClear-Content {
        text-align: center;
      }
      .Case-Study-title {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 1rem;
      }
      #Case-Study {
        margin: 1rem 0;
      }
      .testimonial-section .single-block .text {
        width: 100%;
        float: none;
        padding-left: 0;
        text-align: center;
      }
      .slider-content img {
        margin-bottom: 3rem;
      }
      .main-text-wrapper {
        margin-top: 3rem;
      }
      .copyright-sec {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
      }
      .copyright-sec .footer-icon ul {
        margin-right: 3rem;
      } 
      .text-wrapper h1 {
        text-align: center;
      }
      
      
}

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .tags ul li a {
        margin-bottom: 1rem;
      }
      .banner-right-img {
        margin-top: 13rem;
      }
      .theme-banner-one .main-text-wrapper {
        margin-top: 5rem;
      }
      
  }







  
  
  /* --------------Media Query End---------------- */
  
  
  
  /*Carousel Nav Buttons*/

/* 