<app-header></app-header>
<section class="testimonial_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="main_heading text-center">Testimonial</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="../../assets/img/profile-img.jpg">
                        </div>
                        <h3 class="title">Shahista Naaz</h3>
                        <span class="post">Front End Developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit arcu sed scelerisque auctor. Vestibulum justo enim, dapibus sed magna sed, consequat accumsan nunc. Vivamus.
                        </p>
                    </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="../../assets/img/profile-img.jpg">
                        </div>
                        <h3 class="title">Shahista Naaz</h3>
                        <span class="post">Front End Developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit arcu sed scelerisque auctor. Vestibulum justo enim, dapibus sed magna sed, consequat accumsan nunc. Vivamus.
                        </p>
                    </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="../../assets/img/profile-img.jpg">
                        </div>
                        <h3 class="title">Shahista Naaz</h3>
                        <span class="post">Front End Developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit arcu sed scelerisque auctor. Vestibulum justo enim, dapibus sed magna sed, consequat accumsan nunc. Vivamus.
                        </p>
                    </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="../../assets/img/profile-img.jpg">
                        </div>
                        <h3 class="title">Shahista Naaz</h3>
                        <span class="post">Front End Developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit arcu sed scelerisque auctor. Vestibulum justo enim, dapibus sed magna sed, consequat accumsan nunc. Vivamus.
                        </p>
                    </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="../../assets/img/profile-img.jpg">
                        </div>
                        <h3 class="title">Shahista Naaz</h3>
                        <span class="post">Front End Developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit arcu sed scelerisque auctor. Vestibulum justo enim, dapibus sed magna sed, consequat accumsan nunc. Vivamus.
                        </p>
                    </div>
                  </ng-template>  
                </owl-carousel-o>
            </div>
        </div>
        
    </div>
</section>
