/* .service_sec {
    padding: 4rem 0;
} */
.main_heading {
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.service_sec {
    padding: 8rem 0 0 0;
}
.service_sec h1 {
    margin-bottom: 2rem;
}
.service_sec .service_Box img {
    width: 100%;
}
.service_sec .service_Box .service_Box_content {
    position: relative;
    background: #fff;
    width: 85%;
    z-index: 9;
    transform: translate(30px, -97px);
    margin-bottom: -97px;
    border-top: 7px solid var(--color);
    padding: 20px;
    box-shadow: 1px 1px 10px #dbdbdb;
}
.service_sec .service_Box .service_Box_content h3 {
    font-size: 1.4rem;
    font-weight: 500;
}
.service_sec .service_Box .service_Box_content p {
    font-size: 14px;
    color: #878585;
    margin-bottom: 0;
}
.service_sec .service_Box .service_Box_content .ViewDetailBtn {
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px;
    text-decoration: none;
    background: var(--color);
}
.service_sec .service_Box .service_Box_content .Enquiry {
    border: 2px solid var(--color);
    background: none;
    padding: 5px 15px;
    color: var(--color);
    margin-left: .5rem;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
.service_sec .service_Box .service_Box_content .Enquiry:hover {
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    background: var(--color);
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
.service_sec .service_Box .service_Box_content .pricing {
    margin: 10px 0;
} 
.service_sec .service_Box .service_Box_content .pricing del,a {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 500;
} 
.service_sec .service_Box .service_Box_content .website_url {
    margin-bottom: 1rem;
}
.service_sec .service_Box .service_Box_content .website_url a {
    font-size: 1rem;
}
#DetailModal .modal-content {
    border-radius: 5px;
    width: 100%;
    margin: 40px auto;
}
#DetailModal .modal-header {
    border-bottom: none;
}
#DetailModal .modal-body img {
    width: 100%;
    margin-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
    .service_sec .service_Box .service_Box_content {
        transform: translate(23px, -97px);
    }
}
@media only screen and (max-width: 768px) {
    .service_sec .service_Box .service_Box_content {
        margin-bottom: -57px;
    }
    .service_sec .service_Box .service_Box_content {
        transform: translate(49px, -97px);
    }
    .service_sec {
        padding: 2rem 0 0 0;
    }
}
@media only screen and (max-width: 425px) {
    .service_sec .service_Box .service_Box_content {
        transform: translate(30px, -97px);
    }
    .service_sec {
        padding: 4rem 0 0 0;
    }
}

@media only screen and (max-width: 375px) {
    .service_sec .service_Box .service_Box_content {
        transform: translate(27px, -97px);
    }
}

@media only screen and (max-width: 320px) {
    .service_sec .service_Box .service_Box_content {
        transform: translate(23px, -97px);
    }
}