<app-header></app-header>
<section class="service_sec main_sec" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="main_heading text-center">Products</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service_Box" data-bs-toggle="modal" data-bs-target="#DetailModal">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template>  
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template> 
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template> 
                    </owl-carousel-o>
                    <div class="service_Box_content">
                        <h3>NIKE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="pricing">
                            <del>Rs.2500</del>
                            <a href="javascript:void(0)">Rs.2000</a>
                        </div>
                        <div class="website_url">
                            <a href="javascript:void(0)" >https://www.troology.com/</a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="ViewDetailBtn">View detail</a>
                        <a href="javascript:void(0)" class="ViewDetailBtn Enquiry">Enquiry</a>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="DetailModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <img src="../../assets/img/product-1.jpg" alt="" class="pro_Img">
                           <h2>Nike</h2>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="service_Box" data-bs-toggle="modal" data-bs-target="#DetailModal">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template>  
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template> 
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template> 
                    </owl-carousel-o>
                    <div class="service_Box_content">
                        <h3>NIKE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="pricing">
                            <del>Rs.2500</del>
                            <a href="javascript:void(0)">Rs.2000</a>
                        </div>
                        <div class="website_url">
                            <a href="javascript:void(0)" >https://www.troology.com/</a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="ViewDetailBtn">View detail</a>
                        <a href="javascript:void(0)" class="ViewDetailBtn Enquiry">Enquiry</a>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="DetailModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <img src="../../assets/img/product-1.jpg" alt="" class="pro_Img">
                           <h2>Nike</h2>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="service_Box" data-bs-toggle="modal" data-bs-target="#DetailModal">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template>  
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template> 
                        <ng-template carouselSlide>
                            <img src="../../assets/img/product-1.jpg">
                        </ng-template> 
                    </owl-carousel-o>
                    <div class="service_Box_content">
                        <h3>NIKE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="pricing">
                            <del>Rs.2500</del>
                            <a href="javascript:void(0)">Rs.2000</a>
                        </div>
                        <div class="website_url">
                            <a href="javascript:void(0)" >https://www.troology.com/</a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="ViewDetailBtn">View detail</a>
                        <a href="javascript:void(0)" class="ViewDetailBtn Enquiry">Enquiry</a>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="DetailModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <img src="../../assets/img/product-1.jpg" alt="" class="pro_Img">
                           <h2>Nike</h2>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           <p>So striking at of to welcomed resolved. Northward by described up household therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
