<app-header></app-header>
<section class="main_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="profile_sec">
                    <div class="bg_sec">
                        <img src="../../assets/img/background.jpg" alt="">
                    </div>
                    <div class="profile_img">
                        <img src="../../assets/img/profile-img.jpg" alt="">
                    </div>
                    <div class="clearfix"></div>
                    <div class="profile_left_right">
                        <div class="profile_left">
                            <h2>Shahista Naaz</h2>
                            <p>Front-End-Developer</p>
                            <h6>It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout.</h6>
                            <a href="#" class="refer_btn">Refer Business</a>
                            <a href="#" class="refer_btn Enquiry_btn">Enquiry</a>
                            <a href="#" class="refer_btn Enquiry_btn">Download VCF</a>
                            <div class="social_icon">
                                <a href="#">
                                    <em class="fa-brands fa-facebook-f"></em>
                                </a>
                                <a href="#">
                                    <em class="fa-brands fa-instagram"></em>
                                </a>
                                <a href="#">
                                    <em class="fa-brands fa-twitter"></em>
                                </a>
                                <a href="#">
                                    <em class="fa-brands fa-youtube"></em>
                                </a>
                                <a href="#">
                                    <em class="fa-brands fa-linkedin-in"></em>
                                </a>
                                <a href="#">
                                    <em class="fa-brands fa-pinterest-p"></em>
                                </a>
                            </div>
                        </div>
                        <div class="profile_Right">
                            <h5>Life Insurance Corporation of India</h5>
                            <div>
                                <img src="../../assets/img/liclogo.png" alt="">
                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#qrExampleModal"><img src="../../assets/img/qr.png" alt=""
                                        class="qr_img"></a>

                                <!-- Modal -->
                                <div class="modal fade" id="qrExampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                               <img src="../../assets/img/profile-img.jpg" alt="" class="pro_Img">
                                               <h2>Shahista Naaz</h2>
                                               <p>Front-End-Developer</p>
                                               <img src="../../assets/img/qr(1).png" alt="">
                                               <ul>
                                                   <li>
                                                    <a href="javascript:void(0)">Share My Code</a>
                                                   </li>
                                                   <li>
                                                    <a href="javascript:void(0)">Save to Photos</a>
                                                   </li>
                                               </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-services></app-services>
<app-products></app-products>
<app-offer></app-offer>
<app-gallery></app-gallery>
<app-testimonial></app-testimonial>
<app-payments></app-payments>