.profile_sec {
    border-radius: 10px;
    padding-bottom: 2rem;
    margin: 8rem 0 3rem 0;
    background: #fff;
    box-shadow: 1px 1px 10px #dbdbdb;
}
.profile_sec .bg_sec img {
    width: 100%;
    border-radius: 10px;
}
.profile_sec .profile_img img {
    position: relative;
    top: -6rem;
    left: 2rem;
    width: 200px;
    margin-bottom: -6rem;
    border-radius: 50%;
    border: 7px solid #fff;
}
.profile_left_right {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.profile_left_right .profile_left h2 {
    font-size: 1.9rem;
    font-weight: 400;
    margin: 12px 0;
    color: #2e2e2e;
}
.profile_left_right .profile_left p {
    font-size: 17px;
    color: #2a2a2a;
    margin-bottom: 8px;
}
.profile_left_right .profile_left h6 {
    font-size: 17px;
    color: #707070;
    font-style: italic;
    width: 70%;
    margin-bottom: 1.5rem;
}
.profile_left_right .profile_Right .qr_img {
    width: 45px;
    margin-left: 10px;
}
.profile_left_right .profile_Right h5 {
    font-size: 1.2rem;
    font-weight: 500;
}
.profile_left_right .profile_left .refer_btn {
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px;
    text-decoration: none;
    background: var(--color);
}
.profile_left_right .profile_left .Enquiry_btn {
    border: 2px solid var(--color);
    background: none;
    padding: 5px 15px;
    color: var(--color);
    margin-left: .5rem;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
.profile_left_right .profile_left .Enquiry_btn:hover {
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    background: var(--color);
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
.profile_left_right .profile_left .social_icon {
    margin-top: 1.5rem;
}
.profile_left_right .profile_left .social_icon .fa-facebook-f,
.fa-instagram, .fa-twitter, .fa-youtube, .fa-linkedin-in, .fa-pinterest-p {
    font-size: 1rem;
    color: var(--color);
    margin-right: 1rem;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
#qrExampleModal .modal-header {
    border-bottom: none;
}
#qrExampleModal .modal-content {
    border-radius: 15px;
    width: 75%;
    margin: 40px auto;
}
#qrExampleModal .modal-content .modal-body h2 {
    margin-bottom: 5px;
}
#qrExampleModal .modal-content .modal-body .pro_Img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#qrExampleModal .modal-content .modal-body ul {
    padding-left: 0;
}
#qrExampleModal .modal-content .modal-body ul li {
    list-style-type: none;
    margin-bottom: 7px;
}
#qrExampleModal .modal-content .modal-body ul li a {
    text-decoration: none;
}




