.offer_sec {
    padding: 8rem 0 0 0;
}
.main_heading {
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
@media only screen and (max-width: 1024px) {
    .offer_sec {
        padding: 5rem 0 0 0;
    }
    .main_heading {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 425px) {
    .offer_sec {
        padding: 4rem 0 0 0;
    }
    .main_heading {
        line-height: 47px;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 375px) {
    .offer_sec {
        padding: 2rem 0 0 0;
    }
}

@media only screen and (max-width: 320px) {}