<app-header></app-header>
<section class="service_sec" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="main_heading text-center">Services</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service_Box">
                    <img src="../../assets/img/1.png">
                    <div class="service_Box_content">
                        <h3>LIFE INSURANCE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="javascript:void(0)" class="ViewDetailBtn">View detail</a>
                        <a href="javascript:void(0)" class="ViewDetailBtn Enquiry">Enquiry</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_Box">
                    <img src="../../assets/img/1.png">
                    <div class="service_Box_content">
                        <h3>HEALTH INSURANCE</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="javascript:void(0)" class="ViewDetailBtn">View detail</a>
                        <a href="javascript:void(0)" class="ViewDetailBtn Enquiry">Enquiry</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_Box">
                    <img src="../../assets/img/1.png">
                    <div class="service_Box_content">
                        <h3>MUTUAL FUNDS</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="javascript:void(0)" class="ViewDetailBtn">View detail</a>
                        <a href="javascript:void(0)" class="ViewDetailBtn Enquiry">Enquiry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
