<app-header></app-header>
<section class="payment_sec" id="payments">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="main_heading text-center">Payments</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <div class="contact-detail-content">
                <ul>
                  <li>
                    Bank Name:<br>
                    <a href="javascript:void(0)">Bank of Maharashtra</a>
                  </li>
                  <li>
                    Account Name:<br>
                    <a href="javascript:void(0)">Shahista Naaz</a>
                  </li>
                  <li>
                    IFSC Code:<br>
                    <a href="javascript:void(0)">PUNB0733600</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="contact-detail-content">
                <ul>
                  <li>
                    PAN Card Number:<br>
                    <a href="javascript:void(0)">AAAAA7777A</a>
                  </li>
                  <li>
                    Account Type:<br>
                    <a href="javascript:void(0)">Savings account</a>
                  </li>
                  <li>
                    Account Number:<br>
                    <a href="javascript:void(0)">XXXXXXXXXX</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="contact-detail-content">
                <ul>
                  <li>
                    GST No.:<br>
                    <a href="javascript:void(0)">07AAACP0165G2ZQ</a>
                  </li>
                  <li>
                    Remark:<br>
                    <a href="javascript:void(0)">Is it possible to reverse funds transferred to the wrong account..</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="upi-img">
                <h5>UPI Image</h5>
                <img src="assets/img/qr.png" alt="">
              </div>
            </div>
          </div>
    </div>
</section>

