.top-header {
    background-color: #fff;
}
.top-header .navbar {
    padding: 1rem 0;
}
.top-header .navbar-light .navbar-nav .nav-link {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}
.top-header .navbar-light .navbar-nav .nav-item img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.top-header .navbar-light .navbar-nav .nav-item {
    padding-right: 2rem;
}
