<div class="top-header">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item text-center">
            <a class="nav-link active" aria-current="page" routerLink="/profile"><img src="../../assets/img/user.png" alt="" ><br>Profile</a> 
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#services"><img src="../../assets/img/repairing-service.png" alt=""><br>Services</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#products"><img src="../../assets/img/product.png" alt=""><br>Products</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#offer"><img src="../../assets/img/discount.png" alt=""><br>Offers</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#gallery"><img src="../../assets/img/image.png" alt=""><br>Gallery</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#testimonial"><img src="../../assets/img/review.png" alt=""><br>Testimonials</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" href="#payments"><img src="../../assets/img/credit-card.png" alt=""><br>Payments</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
